
/* {outline: 1px solid Chocolate;}*/

/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* adding a border and background to div elements

body {
	background-color: LightGray;
	-webkit-font-smoothing: antialiased; 
}*/



/* navigation section */
.content {
	padding: 0 1rem;
	margin-left: 5.6rem;
	margin-right: 5.6rem;
	min-width: 35rem;
}

.top-navigation {
	background-color: #fff;
	border-bottom: .07em;
	border-style: solid;
	border-color: #d3d3d3;
	padding: .8rem;
	position: fixed;
	width: 100%;
	height: 70px;
}

.top-navigation > .content {
	margin: 0 auto;
	margin-left: 5.6rem;
	margin-right: 4.6rem;
	margin-bottom: 2rem;
	padding-left: 1em;
	min-width: 37.5rem;
}

.top-navigation > .content > .logo {
	margin-left: -.95rem;
	margin-bottom: 2rem;
	margin-top: -.87rem;
    height: 4.73rem;
}

.content > .links {
	float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1rem;
    margin-top: 2.4rem;
    margin-right: -.1rem;
    -webkit-font-smoothing: antialiased;
}

.link {
	margin-top: 27px;
	height: 17px;
	width: 506px;
}

.content > .links li {
	float: right;
	display: inline-block;
	margin-left: 2rem;
	margin-top: -.54rem;
}


.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* background image section */

h1 {
	font-size: 3em;
	font-weight: normal;
}

p {
	font-size: 1.5em;
	font-weight: normal;
	margin-left: -.6em;
	margin-right: -.8em;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h3 {
	margin-top: 1.25rem;
  	font-size: 1.56rem;
}

.introduction h1 {
	margin-top: 17.5rem;
  	font-size: 3.125rem;
}

.introduction h1, .introduction h3 {
	color: white;
  	text-align: center;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
}

.introduction .content {
	color: white;
	text-align: center;
    font-weight: 300;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -.1rem;
}

.big-button {
	text-shadow: none;
	text-align: center;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	width: 8.65em;
	height: 2.85em;
	background-color: #f15a29;
	color: white;
	font-size: 1.125rem;
	margin: 0 auto;
	margin-top: 1.5em;
}

.big-button:hover {
	background-color: #d9400e;
	cursor: pointer;
}



/* icon section */

.icon-section {
	background-color: #FFFFFF;
	padding: 4rem;
	text-align: center;
	width: 100%;
	overflow: hidden;
}

h1 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.8rem;
	-webkit-font-smoothing: antialiased;
}


.content {
	margin: 0 auto;
	margin-top: 4.0rem;
}


.icon-section > .content > .icons > li {
	display: inline-block;
	float: center;
	width: 8.3rem;
	margin-left: 6.1rem;
	margin-right: 5.7rem;
	margin-top: 3rem;
}


.icon-section > .content > .icons > li > div > h3 {
	font-weight: 350;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.43rem;
	margin-right: 5rem;
	margin-left: -3.8rem;
	margin-top: 2rem;
	text-align: center;
	width: 15rem;
}


/* footer */

.footer-social {
	background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

.footer-social .content .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.footer-social .content {
	border-top: .07em;
	border-style: solid;
	border-color: #d3d3d3;
	padding: 2em;
}


.footer-social .content h5 {
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}


span {
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
	color: #d3d3d3;
	text-align: center;
}
